pkgbase = widemelon
	pkgdesc = Widescreen Nintendo DS emulator based on melonDS
	pkgver = @VERSION@
	pkgrel = 1
	url = https://github.com/pruefsumme/widemelon
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = ninja
	depends = enet
	depends = faad2
	depends = libarchive
	depends = libpcap
	depends = libslirp
	depends = libx11
	depends = libglvnd
	depends = qt6-base
	depends = qt6-multimedia
	depends = qt6-svg
	depends = qt6-websockets
	depends = sdl2
	depends = wayland
	depends = zstd
	conflicts = widemelon-git
	conflicts = widemelon-bin
	options = !debug
	source = widemelon-@VERSION@.tar.gz::https://github.com/pruefsumme/widemelon/archive/refs/tags/v@VERSION@.tar.gz
	sha256sums = @SOURCE_SHA256@

pkgname = widemelon
